.movie-list-back {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  padding-top: 70px;

  &.dark {
    background-color: #121444;
  }
}

.movie-list-body {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  flex-flow: row wrap;
  margin: 10px 0 10px 40px;
}

.loadingPage {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &.dark {
    color: lightgrey;
  }
}
.loadingPage h2 {
  margin-top: 20%;
}
