.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d3d3;
}
.title-of-form {
  font-size: 50px;
  margin-bottom: 20%;
}
.container-of-search {
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: #d3d3d3;
  border-right: 2px solid black;
}
.container-of-form {
  width: 30vw;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.form-of-search {
  display: flex;
}
.container-of-searched-list {
  width: 60vw;
  height: 100%;
  margin-left: 40vw;
}
