.container-fluid-home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-components-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}

*, ::after, ::before {
  box-sizing: content-box;
}
