.container-fluid {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.header-body {
  height: 70px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo img {
  height: 68px;
  width: 100px;
}
.header-menu .fa-bars {
  font-size: 25px;
  margin: 0;
}
.header-body:nth-child(n) {
  margin: 15px 0;
}

.header-search {
  background-color: lightgray;
  width: 400px;
  border-radius: 5px;
}
.header-search input {
  background-color: lightgray;
  border: 1px solid lightgray;
  width: inherit;
  height: 30px;
  border-radius: 2px;
}
.fa-search{
  position: absolute;
  margin: 9px 0 10px 380px;
}
.header-user {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-user img {
  width: 50px;
  height: 50px;
}
.dark {
  background-color: #333a62;
  color: lightgrey;
}