.card {
  max-height: 650px;
  width: 260px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px 20px 0 0;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;

  &.dark {
    background-color: #293144;
    color: lightgrey;
  }
}
//.card:hover {
//    //width: 254px;
//    border: 3px solid #333a62;
//}
.card:nth-child(4n) {
  margin: 20px 0 0 0;
}
.card-img-top {
  width: inherit;
  max-height: 250px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}
.card-body {
  width: inherit;
  float: left;
  border-bottom: 1px solid grey;
}
.card-title, .card-genre, .card-text {
  padding: 0 10px;
}
.card-title {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  color: #2d2644;
  font-size: 17px;
  //font-style: ;
  &.dark {
    background-color: #293144;
    color: lightgrey;
  }
}

.card-text {
  // 4 clip text overview
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  font-size: 15px;
  margin-bottom: 7px;
}
.link-to-self-page {
  border: 2px solid grey;
  color: #121444;
  border-radius: 5px;
  height: 30px;
  margin: 0px 0px 10px 50%;
  padding: 0px 5px;
  &.dark {
    background-color: #293144;
    color: lightgrey;
  }
}
.link-to-self-page a {
  text-decoration: none;
}
.link-to-self-page:hover {
  background-color: #333a62;
  color: lightgrey;
}
