.self-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.blacked-background {
  width: 80%;
  height: 90%;
  background-color: #121444;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.card-title-self-page {
  color: lightgrey;
  font-weight: bold;
  font-size: 30px;
  margin: 15px 10px 15px 15px;
  display: flex;
  justify-content: space-between;
}
.card-title-self-page button {
  border: 0px;
  border-radius: 10px;
  background-color: #585d62;
  color: lightgrey;
  opacity: 0.8;
}
.card-title-self-page button:hover {
  border-radius: 10px;
  background-color: #858184;
  color: white;
}
.card-text-self-page {
  color: lightgrey;
}
.body-page {
  display: flex;
}
.self-page-img {
  width: 250px;
  margin: 20px;
}
.loading-page-self-movie {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333a62;
  color: lightgrey;
}
.genres-in-main-block {
  display: flex;
  justify-content: flex-start;
}
.genre-badge {
  display: flex;
  font-size: 20px;
  background: #6c757d;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
  margin-right: 5px;
}
